@using movie.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Login";
}
<div class="row">
    @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }
<div class="login-card">
    <div class="login-card-content">
        <div class="login-card-title">
            <h2>LOGIN</h2>
        <div class="underline-title"></div>
        </div>
        <form asp-action="Login" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label asp-for="EmailAddress" class="form-label"></label>
                        <input asp-for="EmailAddress" class="form-content" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
            <div class="form-border"></div>
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-content" />
                        <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-border"></div>

            <input id="login-submit-btn" type="submit" name="submit" value="LOGIN" />
                </form>
    </div>
</div>
</div>