@model Cinema

@{
    ViewData["Title"] = "Add a new cinema";
}

<div class="create-cinema-card">
    <div class="create-cinema-card-content">
        <div class="create-cinema-card-title">
            <h2>Create Cinema</h2>
            <div class="cinema-underline-title"></div>
        </div>
        <div class="create-cinema-card-image">
            <img class="border-info rounded-circle" id="CinemaLogoPreview" />
        </div>
        <form asp-action="Create" class="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Logo" class="create-form-label"></label>
            <input asp-for="Logo" class="create-form-content"  />
            <span asp-validation-for="Logo" class="text-danger"></span>
            <div class="form-border"></div>
            <label asp-for="Name" class="create-form-label"></label>
            <input asp-for="Name" class="create-form-content"  />
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-border"></div>
            <label asp-for="Description" class="create-form-label"></label>
            <input asp-for="Description" class="create-form-content"  />
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="form-border"></div>
            <div class="create-cinema-btns">
                <input type="submit" value="Create" class="btn cinema-create-btn" />
                <a class="btn cinema-show-all-btn" asp-action="Index">Show All</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $("#Logo").val();
        })
        $("#Logo").on("change", function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $(this).val();
        })
    </script>
}
